<% include header.ejs %>


<script>

  $(".close").click(function(){
     $("#SuccessAlert").hide();
  });

</script>

        <!-- Content Header -->
        <div id="content-header">
          <h1>Enter Data</h1>
        </div>
        <!-- Primary Content Container -->
        <div id="content-container">

        <select id="metricSelect" name="metricSelect" class="form-control parsley-validated" data-required="true">


                    <%  
                    for(var i = 0; i < metrics.length; i++){ %>
                        <option> <%= metrics[i]%> </option>
                   <% } %>
          
        </select>

        <select id="dateSelect" name="dateSelect" class="form-control parsley-validated" data-required="true">


                    <%  
                    for(var j = 0; j < dates.length; j++){ %>
                        <option> <%= dates[j]%> </option>
                   <% } %>
          
        </select>

        <div class="row">
          <div class="col-md-4">
              <h5>Overall</h5>
          </div>        
          <div class="col-md-4">
              <h5>In Queue</h5>
          </div>
        </div>  


<form id="metricForm" method="get">
  <div class="form-group">
          <div class="row">

              <label class="col-md-2">Received</label>

              <div class="col-md-2">
                <input id="Received" type="text" class="form-control" placeholder="(Number)">
              </div>
 
              <label class="col-md-2">Less Than 1 Day</label>

              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="(Number)">
              </div>
            </div>
          <div class="row">

              <label class="col-md-2">Completed</label>

              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="(Number)">
              </div>
 
              <label class="col-md-2">1 Day to 5 Days</label>

              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="(Number)">
              </div>
            </div>
          <div class="row">

              <div class="col-md-4">
              </div>
 
              <label class="col-md-2">More Than 5 Days</label>

              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="(Number)">
              </div>
            </div>            

            <div>
                <input type="submit" text="Add Metric" action="/addMetric" onclick="addMetric()" />
                <div id="SuccessAlert" class="alert alert-success" role="alert" style="display:none;">Metric added!>
                  <button type="button" class="close">&times;</button>

                </div>

            </div>


         <!-- </div> -->

  </div>
</form>

<% include footer.ejs %>