<% include header.ejs %>


        <!-- Content Header -->
        <div id="content-header">
        <div class="row">
          <div class="col-sm-6">
            <h1>Enter Data</h1>
          </div>
          <div class="col-sm-5" style="margin-top: 15px;">
            <label for="validateSelect">Metric</label>
            <select id="metricSelect" name="metricSelect" class="form-control parsley-validated" data-required="true">

                    <%  
                    for(var i = 0; i < metric_bins.length; i++){ %>
                        <option> <%= metric_bins[i].get("Metric")%> </option>
                   <% } %>
          
            </select>
          </div>
        </div>
      </div>
        <!-- Primary Content Container -->
        <div id="content-container">
<!--
        <select id="metricSelect" name="metricSelect" class="form-control parsley-validated" data-required="true">

                    <%  
                    for(var i = 0; i < metric_bins.length; i++){ %>
                        <option> <%= metric_bins[i].get("Metric")%> </option>
                   <% } %>
          
        </select>

        <select id="dateSelect" name="dateSelect" class="form-control parsley-validated" data-required="true">

                    <%  
                    for(var j = 0; j < dates.length; j++){ %>
                        <option> <%= dates[j]%> </option>
                   <% } %>
          
        </select>

-->
    <div class="row">
      <div class="col-sm-12">  
      <div class="portlet">

        <div class="portlet-header">
          <h3>
            Instructions
          </h3>

        </div> <!-- /.portlet-header -->

        <div class="portlet-content">
              <p>
                Select a metric above.  Enter data for the most recent week, or upload a .csv file in the approved format.  To correct historical data or enter data from previous weeks, contact the administrator for assistance.
              </p>

          <!--Closes Portlet Content -->
        </div>

        <!-- closes portlet -->
      </div>

      </div>
        <!-- closes row -->
      </div>



    <div class="row">
      <div class="col-sm-5">
      <div class="portlet">

        <div class="portlet-header">

              <h3>
                Enter Data
              </h3>

        </div> <!-- /.portlet-header -->

        <div class="portlet-content">

          <form id="metricForm" class="form-horizontal" method="post"  action="/addMetric" */>

              <h4>Overall</h4>

              <div class="form-group">
                <label class="col-md-4">Received</label>
                <div class="col-md-8">
                  <input id="Received" type="text" class="form-control" placeholder="(Number)">
                </div>
              </div>

              <div class="form-group"> 
                <label class="col-md-4">Completed</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="(Number)">
                </div>
              </div>

              <h4>In Queue</h4>

              <div class="form-group">              
                <label class="col-md-4" id="Bin1Label"> Testing </label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="(Number)">
                </div>
              </div>
              <div class="form-group"> 
                <label class="col-md-4" id="Bin2Label">1 Day to 5 Days<%/* metric_bins[i].attributes.Bin2 */ %></label>  
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="(Number)">
                </div>
               </div>

              <div class="form-group">   
                <label class="col-md-4" id="Bin3Label">More Than 5 Days <%/* metric_bins[i].attributes.Bin3 */ %> </label> 
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="(Number)">
                </div>
              </div>  

          <div style="text-align: center">
              <button type="submit" id="submitData" class="btn btn-primary">Submit</button>
          </div>
            <br>
          </form>

          <!--Closes Portlet Content -->
        </div>

        <!-- closes portlet -->
      </div>

        <!-- closes col -->
      </div>

      <div class="col-sm-2">
        <h4 style="text-align: center"> - OR  - </h4>
      </div>

      <div class="col-sm-5">
      <div class="portlet">

        <div class="portlet-header">

              <h3>
                Upload File
              </h3>

        </div> <!-- /.portlet-header -->

        <div class="portlet-content">

          <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="input-group">
              <div class="form-control">
                <i class="fa fa-file fileupload-exists"></i> <span class="fileupload-preview"></span>
              </div>
              <div class="input-group-btn">
                <a href="#" class="btn btn-default fileupload-exists btn btn-danger" data-dismiss="fileupload" style="border-color: #004a89">Remove</a>
                <span class="btn btn-default btn-file btn btn-primary">
                <span class="fileupload-new">Select file</span>
                <span class="fileupload-exists">Change</span>
                  <input type="file">
                </span>
              </div>
            </div>
          </div>


          <div style="text-align: center">
              <button type="submit" id="submitDataUpload" class="btn btn-primary">Submit</button>
          </div>


          <!--Closes Portlet Content -->
        </div>

        <!-- closes portlet -->
      </div>

        <!-- closes col -->
      </div>



        <!-- closes row -->
      </div>

<!-- Closes content container -->

  </div>

<script>
$("#submitData").click(function() {
    $(this).after(
        '<br><br><div class="alert alert-success alert-dismissable">'+
            '<button type="button" class="close" ' + 
                    'data-dismiss="alert" aria-hidden="true">' + 
                '&times;' + 
            '</button>' + 
            'Data Entered And Submitted!' + 
         '</div>');
});

$("#submitDataUpload").click(function() {
    $(this).after(
        '<br><br><div class="alert alert-success alert-dismissable">'+
            '<button type="button" class="close" ' + 
                    'data-dismiss="alert" aria-hidden="true">' + 
                '&times;' + 
            '</button>' + 
            'Data Uploaded Successfully!' + 
         '</div>');
}); 
</script>

<!--
<script>
$(document).ready(function(){
            var metricSelected;
      $("#metricSelect").change(function(){
            metricSelected = $(this)[0].selectedIndex;
            console.log(metricSelected);
          $("#Bin1Label").text("<%= metric_bins[1].attributes.Bin1 %>");
      });
  //    var metricSelected = $("#metricSelect").val();
  //              console.log(metricSelected);
   //   var test = $("#metricselect").index();
      //console.log(test)
})
</script>
-->

<% include footer.ejs %>