      </div>
    </div>
    <!-- #wrapper -->
    <footer id="footer">
      <ul class="nav pull-right">
        <li>
          Copyright &copy; 2015, Alacer Group.
        </li>
      </ul>
    </footer>
 
    <!-- Script Libraries -->
    <script src="Scripts/Libraries/jquery-1.9.1.min.js"></script>
    <script src="Scripts/Libraries/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="Scripts/Libraries/bootstrap.min.js"></script>
    <script src="Scripts/Libraries/raphael-2.1.2.min.js"></script>
    <script src="Scripts/Plugins/magnific/jquery.magnific-popup.min.js"></script>
    <script src="Scripts/Plugins/howl/howl.js"></script>
    <script src="Scripts/Plugins/icheck/jquery.icheck.min.js"></script>
    <script src="Scripts/Plugins/select2/select2.js"></script>
    <script src="Scripts/Plugins/tableCheckable/jquery.tableCheckable.js"></script>
    <script src="Scripts/Plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="Scripts/Plugins/fullcalendar/fullcalendar.min.js"></script>
    <!-- Alacer Main Script -->

    <script src="Scripts/App.Alacer.js"></script>
    <script src="Scripts/App.dataentry.js"></script>

    <!-- Alacer Extended Common Functions Script -->
    <script src="Scripts/App.Extensions.js"></script> 
    <script src="Scripts/Libraries/highstock.js"></script>
    <script src="Scripts/Libraries/modules/exporting.js"></script>
    <script src="Scripts/Plugins/icheck/jquery.icheck.min.js"></script>
    <script src="Scripts/Plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="Scripts/Plugins/timepicker/bootstrap-timepicker.js"></script>
    <script src="Scripts/Trends.Charts.js"></script>
    <script src="Scripts/dashboardTable.js"></script>
  </body>
</html>