<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html lang="en" class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
  <head>
    <title>AML Dashboard -  Alacer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="" />
    <!-- Open Sans Font CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,800italic,400,600,800" type="text/css">
    <!-- Bootstrap/Other Core CSS -->
    <link rel="stylesheet" href="Styles/Vendor/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="Styles/Vendor/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="Styles/Vendor/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css" />
    <!-- Script-Specific CSS -->
    <link rel="stylesheet" href="Scripts/Plugins/icheck/skins/minimal/blue.css" type="text/css" />
    <link rel="stylesheet" href="Scripts/Plugins/select2/select2.css" type="text/css" />
    <link rel="stylesheet" href="Scripts/Plugins/fullcalendar/fullcalendar.css" type="text/css" />
    <link rel="stylesheet" href="Scripts/Plugins/magnific/magnific-popup.css" type="text/css" />
    <!-- Customized Theme CSS -->
    <link rel="stylesheet" href="Styles/App.css" type="text/css" />
    <link rel="stylesheet" href="Styles/App.Overrides.css" type="text/css" />
    <link rel="stylesheet" href="Scripts/Plugins/datepicker/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="Scripts/Plugins/timepicker/bootstrap-timepicker.css" type="text/css" />
    <link rel="stylesheet" href="Scripts/Plugins/fileupload/bootstrap-fileupload.css" type="text/css" />
    <link rel="stylesheet" href="Scripts/Plugins/datatables/extensions/TableTools/css/dataTables.tableTools.css" type="text/css" />
    <!-- jQuery script files need loaded before code -->
    <script src="Scripts/Libraries/jquery-1.9.1.min.js"></script>
    <script src="Scripts/Libraries/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="Scripts/jquery.parse.js"></script>

 

  </head>
  <body>
    <!-- Outer Wrapper -->
<div id="wrapper">
      <header id="header">
        <!-- Alacer Logo -->
        <h1 id="site-logo">
          <a href="/">
          <img src="images/logo.png" alt="Alacer" />
          </a>
        </h1>
        <!-- Navbar Toggle - Disabled -->
        <a href="javascript:;" data-toggle="collapse" data-target=".top-bar-collapse" id="top-bar-toggle" class="navbar-toggle collapsed">
        <i class="fa fa-cog"></i>
        </a>
        <!-- Sidebar Toggle - Disabled -->
        <a href="javascript:;" data-toggle="collapse" data-target=".sidebar-collapse" id="sidebar-toggle" class="navbar-toggle collapsed">
        <i class="fa fa-reorder"></i>
        </a>
      </header>
      <!-- /header -->
      <!-- Top/Navigation Bar -->
      <nav id="top-bar" class="collapse top-bar-collapse">
        <!-- Current User Display/Links -->
        <ul class="nav navbar-nav pull-right">
          <!-- Inbox Preview -->
          <!-- Authenticated User and User-Specific Links -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            <i class="fa fa-user"></i>
            User
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <!-- Profile Link -->
            <li>
                <a href="">
                <i class="fa fa-gears"></i>
                &nbsp;&nbsp;Settings
                </a>
              </li>

              <!-- Logout -->
              <li>
                <a href="">
                <i class="fa fa-sign-out"></i>
                &nbsp;&nbsp;Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
     <!-- /#top-bar -->
      <!-- Contextual Navigation and Sidebar Breadcrumb -->
      <div id="sidebar-wrapper" class="collapse sidebar-collapse">
        <!-- Sidebar Breadcrumb -->
        <div id="SidebarBreadcrumb" style="width: 100%">
          <h5 style="left: 38px; position: absolute">AML Dashboard</h5>
        </div>
        <!-- Contextual Navigation -->
        <nav id="sidebar">
          <ul id="main-nav" class="open-active">
            <li>
              <a href="/dashboard">
              <i class="fa fa-exclamation-circle"></i>
              Dashboard Overview
              </a>
            </li>
            <li>
              <a href="/trends">
              <i class="fa fa-bar-chart-o"></i>
              Trends
              </a>
            </li>
            <li>
              <a href="/dataentry">
              <i class="fa fa-pencil-square-o"></i>
              Enter Data
              </a>
            </li>
          </ul>
        </nav>
        <!-- #sidebar -->
      </div>
           <!-- /#sidebar-wrapper -->
      <div id="content">


